.gridcontainer {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
}

.gridbox {
    flex-wrap: wrap;
    display:center;
}

.newbie {
    color:red;
}

.apprentice {
    color:blue;
}

.master {
    color:purple;
}

h1 {
    background-color: gray;
    text-align: center;
}
